.main-header {
    font-size: 5rem;
    font-family: 'Hind', sans-serif;
    margin-top: 3rem;
}

.donate {
    text-align: center;
    color: white;
    background-color: black;
}

.info-card {
    margin-bottom: 3rem;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid lightgrey;
}

.title-header {
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    .main-header {
        font-size: 3rem;
    }
}