.main-header {
    color: #c7b6a8;
    font-size: 5rem;
    font-family: 'Hind', sans-serif;
    margin-top: 5rem;
}

.donate {
    text-align: center;
    color: white;
    background-color: #a0826a;
}

.info-card {
    margin-bottom: 3rem;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.page-link {
    color: white;
    background-color: #a0826a;
    border: none;
}

.page-link:hover {
    background-color: #a0826a;
    color: #c7b6a8;
    text-decoration: underline;
}

.title-header {
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    .main-header {
        font-size: 3rem;
    }
}