.main-header {
    font-size: 5rem;
}

.donate {
    text-align: center;
    background-color: black;
    color: white;
}

.info-card {
    margin-bottom: 3rem;
    background-color: black;
    color: white;
    border-bottom: 1px solid lightgrey;
}

.title-header {
    font-size: 1.5rem;
}