.sitebar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #564438;
}

.site-link {
    color: #c7b6a8;
    font-family: 'Hind', sans-serif;
}
.site-link:hover {
    color: lightgray;
}

.site-hamburger {
    color: #c7b6a8;
}

.mobile-nav {
    visibility: hidden;
}

@media (max-width: 765px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        visibility: visible;
    }
}
